<header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-heading"><p class = "welcome" >Welcome to </p><div class="text-white intro-heading">Tome Raider</div>
        <div class="text-white intro-lead-in">Connect with other readers and exchange your books</div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/login">Sign Up</a>
      </div>
    </div>
  </header>

  
  